/* Deep blue (#001233), light coral red (#FF595A), beige (#CAC0B3) */

/* || GENERAL DEFINITIONS */
@font-face {
    font-family: NorseBold;
    src: url(https://cdn.statically.io/gh/TheOdinProject/theodinproject/efdc2888072f409e687d31dc580595dbe4fe0ff4/app/assets/fonts/Norse-Bold.otf);
}

:root {
    --border-btn: 1px solid rgb(36, 36, 36);
    --color-base-bg: rgb(240, 240, 240);
    --color-base-text: rgb(18, 18, 18);
    --color-btn-bg: rgb(220, 220, 220);
    --theme-name: "light";

    --form-padding-left: 15%;
    --color-orange: rgb(187, 114, 45);

    --bg-image-left: url('images/dominik-hofbauer-IculuMoubkQ-unsplash.jpg')
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: var(--color-base-bg);
    /* color: #CAC0B3; */
    margin: 0;
    min-height: 100vh;
    justify-content: space-between;
    align-content: center;
}

a, u{
    text-decoration: underline;
    color: inherit;
}

/* || HEADER */
.header{
    background-color: #001233;
    color: #FF595A;
    padding: 8px 30px;
    display: flex;
}

body > h1 {
    font-weight: 1000;
    font-size: 32px;
}


/* || FOOTER */
.footer{
    background-color: #001233;
    color: #FF595A;
    padding: 20px 30px;
    display: flex;
    justify-content: center;
}

/* || CONTENT */
.content{
    /* border: 2px solid black; */
    display: flex;
    flex-grow: 3;
}




/* || LEFT PANEL */
.content .left-panel {
    background: url("images/dominik-hofbauer-IculuMoubkQ-unsplash.jpg");
    background-position: center;
    background-size: cover;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
}

.title{
    margin-top: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 30px 0px;
}

.left-panel p {
    color:white;
}

#logo{
    height: 5rem;
    margin: 0;
}

#title-text{   
    font-family: NorseBold, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
    margin: 0;
}

#img-credits{
    display: flex;
    justify-content: center;
    margin: auto 0 0 0;
    font-size: 12px;
}

/* || RIGHT PANEL */
.content .right-panel {
    border: 2px solid purple;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    /* padding: 50px; */
    justify-content: center;
}

#top-texts, #login-link{
    padding: 0 var(--form-padding-left);
}

#top-texts{
    font-weight: 600;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 var(--form-padding-left) 50px;
}

#top-texts p{
    padding: 0;
    margin: 0;
}

#login-link  a {
    text-decoration: none;
    color: var(--color-orange);
    font-weight: 600;
}

#login-link{
    font-size: 16px;
}


/* || FORM */
label{
    margin-right: 5px;
    font-size: 13px;
}

.required-style{
    color: red;
}

.form-field{
    display: flex;
    flex-direction: column;
    width: 220px;
}

input{
    border-radius: 5px;
    box-shadow: none;
    border: solid 2px #E5E7EB;
    padding: 5px 10px;
}

.form-row{
    display: flex;
    gap:50px;
}

#form-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px var(--form-padding-left) 20px;
}

.form-background-box > p{
    padding: 0 var(--form-padding-left) 0;
    font-weight: 600;
}

button{
    margin: 30px var(--form-padding-left) 10px;
    background-color: var(--color-orange);
    border-radius: 5px;
    padding: 8px 20px;
    font-weight: 600;
    color: white;
    box-shadow: 1px 1px 10px gray;
}

.form-background-box{
    background-color: white;
    padding: 10px 0 10px;
    box-shadow: 1px 1px 10px gray;
}

input:focus{
    border: solid rgb(167, 167, 233) 1px;
}

.form-field > input.error{
    border-color: red;
}


input.error:valid {
    border-style: auto;
    border: solid 2px rgb(58, 148, 58);
}
